<nav class="navbar">

    <div class="div-header-background">
    <div class="logo"><a routerLink="/home">Indie<span class="hub-texto">[HUB]</span></a></div>

    <nav class="header-nav">
        <div class="nav-header-links">
        <a routerLink="/home">Home</a>
        </div>
        <div class="nav-header-links">
        <a routerLink="/nexus">Nexus</a>
        </div>
        <div class="nav-header-links">
        <a routerLink="/mural">Mural</a>
        </div>
        
    </nav>

    <div class="header-user">
        <a routerLink="/perfil" class="perfil">
            <span class="icon">👤</span> Perfil
        </a>
    </div>
    </div>

</nav>
