<app-header></app-header>


<!-- ----------------------- SECAO 1------------------------------- -->

<main class="main-nexus">

<section class="section1-nexus">
    <div class="textos">
    <h1>Conecte-se ao Ecossistema Indie</h1>
    <p>Encontre talentos, oportunidades e colaborações no maior hub de desenvolvedores indie do Brasil</p>
    </div>

    <div class="botoes">

     

    <button class="botao-padrao" [class.ativo]="opcaoSelecionada === 'contratando'" (click)="alterarOpcao('contratando')">Estou contratando</button>


    <button class="botao-padrao" [class.ativo]="opcaoSelecionada ==='trabalho'" (click)="alterarOpcao('trabalho')">Buscando trabalho</button>
    </div>
</section>

<!-- ----------------------- SECAO 2------------------------------- -->


<section class="secao-2"> 
    <div class="div-secao-2"> 
    <input placeholder="Nome ou profissão"  type="text">

    <select name="" id="">
        <option value="selecione">Selecione profissão</option>
        <option value="game-designer">Game designer</option>
        <option value="programador">Programador</option>
        <option value="artista-2d">Artista 2D</option>
        <option value="artista-3d">Artista 3D</option>
        <option value="animador">Animador</option>
        <option value="design-de-som">Designer de som</option>
        <option value="compositor-musical">Compositor musical</option>
        <option value="produtor-de-jogos">Produtor de jogos</option>
        <option value="qa-tester">QA tester</option>
        <option value="marketing">Marketing</option>
        <option value="escritor">Escritor</option>
        <option value="ui-ux-design">UI/UX Design</option>

    </select>
    <button class="botao1">Buscar</button>
    </div>
    <div class="botao2">
    <button>Adicionar perfil +</button>
    </div>   
</section>


<!-- ----------------------- SECAO 3 CARDS CONTRATANDO------------------------------- -->

<section class="talentos-section" *ngIf="opcaoSelecionada === 'contratando'">
    
    <div class="div-talentos-disponiveis">
    <h2 class="talentos-disponiveis-h2">Talentos Disponíveis ({{ talentos.length }})</h2>
    </div>
    <div class="talentos-grid">
        <div class="card-talento" *ngFor="let item of talentos">
            <div class="card-header">
                <img [src]="item.foto" class="avatar">
                <div class="header-info">
                    <h3>{{ item.nome }}</h3>
                    <span [style.color]="item.corCargo">{{ item.cargo }}</span>
                </div>
            </div>
            <div class="card-details">
                <p>🕒 {{ item.xp }}</p>
                <p>📍 {{ item.local }}</p>
                <p>💰 {{ item.valorHora }}</p>
            </div>
            <button class="btn-ver-perfil">Ver Perfil</button>
        </div>
    </div>

</section>

<!-- ----------------------- SECAO 4 CARDS BUSCANDO TRABALHO------------------------------- --> 


<section class="talentos-section" *ngIf="opcaoSelecionada === 'trabalho'">

    <div class="div-oportunidades-disponiveis">
    <h2>Oportunidades Disponíveis ({{ vagas.length }})</h2>
    </div>
    
    <div class="vagas-container"> 
        
        <div class="card-vaga" *ngFor="let vaga of vagas">
            
            <div class="vaga-header">
                <div class="vaga-titulo-area">
                    <h3>{{ vaga.titulo }}</h3>
                    <span class="empresa-nome">{{ vaga.empresa }}</span>
                </div>
                
                <div class="tags-area">
                    <span class="tag-vaga" *ngFor="let tag of vaga.tags">{{ tag }}</span>
                </div>
            </div>

            <p class="vaga-desc">{{ vaga.descricao }}</p>

            <div class="vaga-detalhes">
                <div>
                    <strong>Gênero:</strong><br> {{ vaga.genero }}
                </div>
                <div>
                    <strong>Salário:</strong><br> {{ vaga.salario }}
                </div>
                <div>
                    <strong>Requisitos:</strong><br> {{ vaga.requisitos }}
                </div>
            </div>

            <button class="btn-candidatar">Candidatar-se</button>

        </div>

    </div>

</section>

</main>