<app-header></app-header>


<!-- ----------------------- SECAO 1------------------------------- -->

<main class="main-nexus">

    <section class="section1-nexus">
        <div class="textos">
            <h1>Conecte-se ao Ecossistema Indie</h1>
            <p>Encontre talentos, oportunidades e colaborações no maior hub de desenvolvedores indie do Brasil</p>
        </div>

        <div class="botoes">



            <button class="botao-padrao" [class.ativo]="opcaoSelecionada === 'contratando'"
                (click)="alterarOpcao('contratando')">Estou contratando</button>


            <button class="botao-padrao" [class.ativo]="opcaoSelecionada ==='trabalho'"
                (click)="alterarOpcao('trabalho')">Buscando trabalho</button>
        </div>
    </section>

    <!-- ----------------------- SECAO 2------------------------------- -->


    <section class="secao-2">
        <div class="div-secao-2">
            <input type="text" placeholder="Pesquise um nome profissão ou gênero de game..." [(ngModel)]="textoBusca">
            

            <select [(ngModel)]="filtroCargo"> <option value="">Todas as profissões</option>
                
                <option value="Game Designer">Game Designer</option>
                <option value="Programador">Programador</option>
                <option value="Artist">Artista (2D/3D)</option>
                <option value="Animator">Animador</option>
                <option value="Sound">Sound Designer</option>
                <option value="Composer">Compositor</option>
                <option value="Producer">Produtor</option>
                <option value="QA">QA Tester</option>
                <option value="Marketing">Marketing</option>
                <option value="Writer">Escritor</option>
                <option value="UI/UX">UI/UX Design</option>

            </select>
            <button class="botao1">Buscar</button>
        </div>
        <div class="botao2">
            <button (click)="abrirModal()" *ngIf="opcaoSelecionada === 'contratando'">Adicionar perfil +</button>
        </div>
        <div class="botao3">
            <button (click)="abrirModalVaga()" *ngIf="opcaoSelecionada === 'trabalho'"> + Adicionar vaga</button>
        </div>
    </section>


    <!-- ----------------------- SECAO 3 CARDS CONTRATANDO------------------------------- -->

    <section class="talentos-section" *ngIf="opcaoSelecionada === 'contratando'">

    <div class="div-talentos-disponiveis">
        <h2 class="talentos-disponiveis-h2">Talentos Disponíveis ({{ talentosFiltrados.length }})</h2>
    </div>

    <div class="talentos-grid">
        
        <div class="card-placeholder" *ngFor="let item of talentosFiltrados; let i = index">

            <div class="card-talento" [class.card-expandido]="item.expandido">
                <div class="card-actions">
    <button class="btn-icon editar" (click)="prepararEdicaoTalento(item, i)">✎</button>
    <button class="btn-icon excluir" (click)="deletarTalento(i)">🗑️</button>
</div>
                
                <div class="card-header">
                    <img [src]="item.foto" class="avatar">
                    <div class="header-info">
                        <h3>{{ item.nome }}</h3>
                        <span [style.color]="item.corCargo">{{ item.cargo }}</span> 
                    </div>
                </div>

                <div class="card-details">
                    <p>⏳ {{ item.xp }}</p>
                    <p>🌍 {{ item.local }}</p>
                    <p>💵 {{ item.valorHora }}</p>
                    <a [href]="item.portifolio" target="_blank">Portfolio</a>

                    <div *ngIf="item.expandido" class="detalhes-extras">
                        <p style="margin-top: 10px;"><strong>Bio:</strong> {{ item.biografia }}</p>

                        <div class="card-tags" *ngIf="item.habilidades && item.habilidades.length > 0">
                            <strong>Habilidades:</strong>
                            <span *ngFor="let skill of item.habilidades" class="mini-tags-habilidades">{{ skill }}</span>
                        </div>

                        <div class="card-tags" *ngIf="item.generos && item.generos.length > 0">
                            <strong>Gêneros:</strong>
                            <span *ngFor="let gen of item.generos" class="mini-tags-generos">{{ gen }}</span>
                        </div>
                    </div>
                </div>

                <button class="btn-ver-perfil" (click)="togglePerfil(item)">
                    {{ item.expandido ? 'Fechar Perfil' : 'Ver Perfil' }}
                </button>
            
            </div> </div> </div>
</section>

    <!-- ----------------------- SECAO 4 CARDS BUSCANDO TRABALHO------------------------------- -->


    <section class="talentos-section" *ngIf="opcaoSelecionada === 'trabalho'">

        <div class="div-oportunidades-disponiveis">
            <h2>Oportunidades Disponíveis ({{ vagasFiltradas.length }})</h2>
        </div>

        <div class="vagas-container">

    <!-- Loop pelas vagas filtradas -->
    <div class="card-vaga" *ngFor="let vaga of vagasFiltradas">

        

        <div class="vaga-header">
                    <div class="vaga-titulo-area">
                        <h3>{{ vaga.titulo }}</h3>
                        <span class="empresa-nome">{{ vaga.empresa }}</span>
                    </div>

                    <div class="tags-area">
                        <span class="tag-vaga">{{ vaga.tipo }}</span>
                    </div>
                </div>

                <p class="vaga-desc">{{ vaga.descricao }}</p>

                <div class="vaga-detalhes">
                    <div>
                        <strong>Gênero:</strong><br> {{ vaga.genero }}
                    </div>
                    <div>
                        <strong>Salário:</strong><br> {{ vaga.salario }}
                    </div>
                    <div>
                        <strong>Requisitos:</strong><br> {{ vaga.requisitos }}
                    </div>
                </div>

                <button class="btn-candidatar">Candidatar-se</button>

            </div>

        </div>

    </section>


    <!-- ---------------------------MODAL------------------------------------ -->


    <div class="modal-overlay" *ngIf="modalAberto">

        <div class="modal-janela"> 

            <div class="modal-header">
                <h1>Adicionar meu perfil</h1>
                <button (click)="fecharModal()">X</button>
            </div>

            <div class="modal-body">

                <div class="modal-body">

                    <div class="form-linha">
                        <div class="form-grupo">
                            <label>Nome Completo <span class="asterisco">*</span></label>
                            <input [(ngModel)]="novoTalento.nome" name="nome" type="text" placeholder="Seu nome">
                        </div>
                        <div class="form-grupo">
                            <label>Profissão <span class="asterisco">*</span></label>
                            <div class="form-grupo">
    
    
    <select 
        [(ngModel)]="novoTalento.cargo" 
        name="cargo"
        [style.color]="corAtualSelecao" 
        style="font-weight: 600;">
        
        <option value="">Selecione profissão</option>

        <option *ngFor="let prof of listaProfissoes" 
                [value]="prof.nome"
                [style.color]="prof.cor">
            {{ prof.nome }}
        </option>

    </select>
</div>
                        </div>
                    </div>

                    <div class="form-linha">
                        <div class="form-grupo">
                            <label>Experiência <span class="asterisco">*</span></label>
                            <input [(ngModel)]="novoTalento.xp" name="xp" type="text" placeholder="ex: 3 anos">
                        </div>
                        <div class="form-grupo">
                            <label>Localização <span class="asterisco">*</span></label>
                            <input [(ngModel)]="novoTalento.local" name="local" type="text" placeholder="Cidade, Estado">
                        </div>
                    </div>

                   <div class="form-group"> <label for="">Trabalho/Hora</label>
    <input [(ngModel)]="novoTalento.valorHora" name="valorHora" type="text">
</div>

                    <div>
                        <label for="">Imagem de Perfil</label>
                        <input [(ngModel)]="novoTalento.foto" type="foto" placeholder="Adicione o link de uma imagem">
                    </div>
                    <div class="form-grupo">
                        <label>Portfolio</label>
                        <input [(ngModel)]="novoTalento.portifolio" name="portifolio" type="text" placeholder="https://meuportfolio.com">
                    </div>

                    <div class="form-grupo">
                        <label>Biografia</label>
                        <textarea maxlength="150" [(ngModel)]="novoTalento.biografia" name="biografia" rows="4" placeholder="Fale sobre você..."></textarea>
                    </div>

                    <div class="form-group">
    <label>Habilidades <span class="asterisco">*</span></label>
    <div class="tags-container">
        <button class="btn-tag" 
                *ngFor="let skill of listaHabilidades"
                (click)="toggleHabilidade(skill)"
                [class.selecionado1]="novoTalento.habilidades.includes(skill)">
            {{ skill }}
        </button>
    </div>
</div>

<div class="form-group">
    <label>Gêneros de Jogo Preferidos <span class="asterisco">*</span></label>
    <div class="tags-container">
        <button class="btn-tag2" 
                *ngFor="let genero of listaGeneros"
                (click)="toggleGenero(genero)"
                [class.selecionado2]="novoTalento.generos.includes(genero)">
            {{ genero }}
        </button>
    </div>
</div>

                </div>

            </div>

            <div class="modal-footer">
                <button class="botao-cancelar" (click)="fecharModal()">Cancelar</button>
                <button class="botao-add-perfil" (click)="salvarTalento()" >Adicionar perfil</button>
            </div>


        </div>


    </div>



    <!-- ---------------------------MODAL 2------------------------------------ -->
    
    <div class="modal-overlay" *ngIf="modalVagaAberto">
    
    <div class="modal-janela">

        <div class="modal-header">
            <h2>Adicionar Vaga</h2>
            <button (click)="fecharModalVaga()">✖</button>
        </div>

        <div class="modal-body">
            
            <div class="form-row">
                <div class="form-group">
                    <label>Título da Vaga <span class="asterisco">*</span></label>
                    <input [(ngModel)]="novaVaga.titulo" type="text" placeholder="Ex: Game Designer Pleno" name="titulo">
                </div>
                <div class="form-group">
                    <label>Tipo de Vaga <span class="asterisco">*</span></label>
                    <select [(ngModel)]="novaVaga.tipo"  name="tipo">

                        <option value="full-time">Full-time</option>
                        <option value="part-time">Part-time</option>
                        <option value="freelance">Freelancer</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label>Empresa <span class="asterisco">*</span></label>
                    <input [(ngModel)]="novaVaga.empresa" type="text" placeholder="Nome da empresa" name="empresa">
                </div>
                <div class="form-group">
                    <label>Gênero do Jogo</label>
                    <select class="form-group-select" [(ngModel)]="novaVaga.genero" name="genero">
                        <option value="rpg">RPG</option>
                        <option value="acao">Ação</option>
                        <option value="aventura">Aventura</option>
                        <option value="plataforma">Plataforma</option>
                        <option value="puzzle">Puzzle</option>
                        <option value="estrategia">Estratégia</option>
                        <option value="simulacao">Simulação</option>
                        <option value="terror">Terror / Horror</option>
                        <option value="sobrevivencia">Sobrevivência</option>
                        <option value="fps">FPS (Tiro em 1ª Pessoa)</option>
                        <option value="shooter">Shooter (Geral)</option>
                        <option value="roguelike">Roguelike / Roguelite</option>
                        <option value="metroidvania">Metroidvania</option>
                        <option value="visual-novel">Visual Novel</option>
                        <option value="luta">Luta</option>
                        <option value="esportes">Esportes</option>
                        <option value="corrida">Corrida</option>
                        <option value="cartas">Card Game (Cartas)</option>
                        <option value="ritmo">Ritmo / Musical</option>
                        <option value="battle-royale">Battle Royale</option>
                        <option value="sandbox">Sandbox / Mundo Aberto</option>
                        <option value="moba">MOBA</option>
                        <option value="stealth">Stealth (Furtividade)</option>
                        <option value="cozy">Cozy (Relaxante)</option>
                        <option value="educativo">Educativo</option>
                        <option value="point-and-click">Point and Click</option>
                        <option value="arcade">Arcade</option>
                        
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>Salário (Opcional)</label>
                <input [(ngModel)]="novaVaga.salario" name="salario" type="text" placeholder="Ex: R$ 5.000 ou A combinar">
            </div>

            <div class="form-group-checkbox" style="flex-direction: row; align-items: center; gap: 10px;">
                <input type="checkbox" id="remoto" style="width: auto;">
                <label for="remoto" style="margin: 0;">Trabalho Remoto?</label>
            </div>

            <div class="form-group">
                <label>Descrição da Vaga</label>
                <textarea [(ngModel)]="novaVaga.descricao" name="descricao" rows="4" placeholder="Descreva as responsabilidades..."></textarea>
            </div>

            <div class="form-group">
                <label>Requisitos</label>
                <div style="display: flex; gap: 10px;">
                    <input [(ngModel)]="novaVaga.requisitos" name="requisitos" type="text" placeholder="Digite um requisito">
                    <button style="background: #9333EA; color: white; border: none; border-radius: 8px; width: 40px; cursor: pointer;">+</button>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button class="botao-cancelar" (click)="fecharModalVaga()">Cancelar</button>
            <button class="botao-add-vaga" (click)="salvarVaga()">
    {{ indexEdicaoVaga > -1 ? 'Salvar Alterações' : 'Publicar Vaga' }}
</button>
        </div>

    </div>

</div>
</main>