<nav class="navbar">

    <div class="div-footer-background">
    <div class="logo"><a routerLink="/home">Indie<span class="hub-texto">[HUB]</span></a></div>

    <div class="nav-acoes">    
        <a routerLink="/login">Entrar</a>
        <a class="botao-cadastrar" routerLink="/register">Cadastrar</a>
    </div>
    </div>

</nav>

<main class="main-home">

    <section class="secao-1-home">
        <h1>Conecte. Crie. <span class="span-divulgue">Divulgue.</span></h1>
        <p>A plataforma definitiva para desenvolvedores de jogos se conectarem, encontrarem colaboradores e transformarem ideias em realidade.</p>
        <a class="botao-comece-agora" routerLink="/register">Comece Agora!</a>

    </section>


</main>