<nav class="navbar">

    <div class="div-header-background">
    <div class="logo"><a routerLink="/home">Indie<span class="hub-texto">[HUB]</span></a></div>

    <div class="nav-acoes">    
        <a routerLink="/login">Entrar</a>
        <a class="botao-cadastrar" routerLink="/register">Cadastrar</a>
    </div>
    </div>

</nav>

<main class="main-home">

    <section class="secao-1-home">
        <h1>Conecte. Crie. <span class="span-divulgue">Divulgue.</span></h1>
        <p>A plataforma definitiva para desenvolvedores de jogos se conectarem, encontrarem colaboradores e transformarem ideias em realidade.</p>
        <a class="botao-comece-agora" routerLink="/register">Comece Agora!</a>

    </section>




<!--  ---------------- CARROSSEL----------------------- -->
   <div class="div-secao-novidades">
    <section class="secao-novidades">

        <h2>Novidades da Comunidade</h2>

        <div class="carrossel-wrapper">

            <button class="botao-seta" (click)="voltarSlide()"> < </button>

            <div class="carrossel-janela">
                
                <div class="carrossel-trilho" [style.transform]="'translateX(-' + (indiceAtual * 100) + '%)'">
                    
                    <div class="card-destaque" *ngFor="let item of novidades">
                        <img [src]="item.imagem" alt="Imagem do Slide" class="imagem-carrossel">
                        
                        <div class="info-card">
                            <span class="tag-data">{{ item.data }}</span>
                            <h3>{{ item.titulo }}</h3>
                            <p>{{ item.descricao }}</p>
                        </div>
                    </div>

                </div>
            </div>

            <button class="botao-seta" (click)="proximoSlide()"> > </button>

        </div>

        <div class="indicadores">
            <span *ngFor="let item of novidades; let i = index" 
                  class="bolinha" 
                  [class.active]="i === indiceAtual"
                  (click)="irParaSlide(i)">
            </span>
        </div>

    </section>
</div>


<!--  ----------------   SEÇÃO 2    ----------------------- -->


<section class="secao-2-home">

    
    <div class="cartoes">
        <div class="icone"> <span>👥</span></div>
        <h2>Networking Inteligente</h2>
        <p>Conecte-se com desenvolvedores tão apaixonados quanto você, desenvolvam seus sonhos. </p>
    </div>
        
    <div class="cartoes">
        <div class="icone"> <span>🔍</span></div>
        <h2>Busca Avançada</h2>
        <p>Encontre exatamente o que precisa com filtros por habilidade, experiência e disponibilidade.</p>
    </div>

    <div class="cartoes">
        <div class="icone"> <span>🖼️</span></div>
        <h2>Divulgue seus Projetos</h2>
        <p>Mostre seu trabalho e descubra projetos inspiradores da comunidade de desenvolvedores.</p>
    </div>
    

</section>

</main>

<!------------------ FOOTER------------------------->

<footer>
    <div class="footer-links-area">
        <div class="footer-coluna">
            <h3>Indie Hub</h3>
            <div class="descricao-menu">
            <a routerLink="/sobre">Sobre Nós</a>
            <a routerLink="noticias">Notícias</a>
            </div>
        </div>

        <div class="footer-coluna">
            <h3>Suporte</h3> 
            <div class="descricao-menu">  
            <a routerLink="/planos">Planos de Assinatura</a>
            <a routerLink="/perguntas">Perguntas Frequentes</a>
            <a routerLink="/contato">Fale Conosco</a>
            </div>  

        </div>

        <div class="footer-coluna">
            <h3>Legal</h3>
            <div class="descricao-menu">
            <a routerLink="termos">Termos de Uso</a>
            <a routerLink="privacidade">Privacidade</a>
            </div>
        </div>

        <div class="footer-coluna">
            <h3>Social</h3>
            <div class="descricao-menu">
                <div class="div-icones-footer">
                    <img src="/instagram.png" alt="Instagram">
                    <img src="/github.png" alt="github">
                    <img src="/discord.png" alt="discord">
                </div>
            </div>
        </div>

    </div>

    <div class="footer-logo-area">
        <h2>Indie<span>[HUB]</span></h2>
        <p>Conectando devs pelo Brasil</p>

    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 Indie[HUB]. Todos os direitos reservados. </p>
    </div>


</footer>