<nav class="navbar">

    <div class="div-footer-background">
    <div class="logo"><a routerLink="/home">Indie<span class="hub-texto">[HUB]</span></a></div>

    <div class="nav-acoes">    
        <a routerLink="/login">Entrar</a>
        <a class="botao-cadastrar" routerLink="/register">Cadastrar</a>
    </div>
    </div>

</nav>

<main class="main-home">

    <section class="secao-1-home">
        <h1>Conecte. Crie. <span class="span-divulgue">Divulgue.</span></h1>
        <p>A plataforma definitiva para desenvolvedores de jogos se conectarem, encontrarem colaboradores e transformarem ideias em realidade.</p>
        <a class="botao-comece-agora" routerLink="/register">Comece Agora!</a>

    </section>




<!--  ---------------- CARROSSEL----------------------- -->

    <section class="secao-novidades">
        
        <h2>Novidades da Comunidade</h2>

        <div class="carrossel-container">
            
            <button class="botao-seta" (click)="voltarSlide()"> < </button>

            <div class="card-destaque">
                <img [src]="novidades[indiceAtual].imagem" alt="Imagem do Slide" class="imagem-carrossel">
                
                <div class="info-card">
                    <span class="tag-data">{{ novidades[indiceAtual].data }}</span>
                    <h3>{{ novidades[indiceAtual].titulo }}</h3>
                    <p>{{ novidades[indiceAtual].descricao }}</p>
                </div>
            </div>

            <button class="botao-seta" (click)="proximoSlide()"> > </button>

        </div>

    </section>



<section class="secao-2-home">

    <div>
        <div class="icone"> <span>👥</span></div>
        <h2>Networking Inteligente</h2>
        <p>Conecte-se com desenvolvedores tão apaixonados quanto você, desenvolvam seus sonhos. </p>
    </div>
        
    <div>
        <div class="icone"> <span>🔍</span></div>
        <h2>Busca Avançada</h2>
        <p>Encontre exatamente o que precisa com filtros por habilidade, experiência e disponibilidade.</p>
    </div>

    <div>
        <div class="icone"> <span>🖼️</span></div>
        <h2>Divulgue seus Projetos</h2>
        <p>Mostre seu trabalho e descubra projetos inspiradores da comunidade de desenvolvedores.</p>
    </div>

</section>

</main>






