@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');



.div-footer-background {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #f3f4f6;
    box-shadow: #bdb7c2 0px 0px 10px;
}

.logo {
    font-family: 'Quantico', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    font-style: italic;
    
    
    
}

.logo a {
    text-decoration: none;
    
}

.hub-texto {
    color: #f9a413;
}

.nav-acoes a {
    margin-left: 15px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    color: #9333EA;
    font-weight: 700;
    
    
}

.nav-acoes .botao-cadastrar  {
    background-color: #9333EA;
    padding: 12px;
    color: #ffffff;
    border-radius: 10px;
    font-weight: 700;
}

.secao-1-home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 20px;
    
    
}

.secao-1-home h1 {
    color: #551A8B;
    font-family: 'Quantico', sans-serif;
    font-size: 3.5rem; 
      
}

.secao-1-home p {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    color: #555555;
    text-align: center;
    max-width: 1000px;
    margin-top: 10px;
}

.secao-1-home a {
    font-family: 'Quantico', sans-serif;
    font-size: 1.3rem;
    background-color: #9333EA;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    margin-top: 20px;
    
}

.span-divulgue {
    color: #f9a413;
}

