<main class="main-register">
    <div class="register-conteudo">
<header>
<h1 class="titulo-register">Indie<span class="hub-texto">[HUB]</span> </h1>
<P class="paragrafo-register">Faça a sua conta e avance na carreira como um <span class="gamedevs-texto">gamedev</span> indepedente.</P>
</header>

<form action="">

<div class="input-nome-email-senha">

    <div class="input-grupo-cadastro">
    <label  for="text-input">Nome Completo</label>
    <input id="text-input"  type="text" placeholder="Digite seu email">
    </div>

    <div class="input-grupo-cadastro">
    <label  for="email-input">Email</label>
    <input id="email-input"  type="email" placeholder="Digite seu email">
    </div>
    
    <div class="input-grupo-cadastro">
    <label  for="password-input-cadastro">Senha</label>
    <input id="password-input-cadastro" type="password" placeholder="Digite sua senha">
    </div>

    <div class="input-grupo-cadastro">
    <label  for="profissao-select">Profissão</label>
    <select name="" id="profissao-select">
        <option value="" disabled selected hidden>Selecione sua área</option>
        <option value="game-designer">Game designer</option>
        <option value="programador">Programador</option>
        <option value="artista-2d">Artista 2D</option>
        <option value="artista-3d">Artista 3D</option>
        <option value="animador">Animador</option>
        <option value="designer-de-som">Designer de som</option>
        <option value="compositor-musical">Compositor musical</option>
        <option value="produtor-de-jogos">Produtor de jogos</option>
        <option value="marketing">Marketing</option>
        <option value="escritor">Escritor</option>
        <option value="ui-ux-designer">UI/UX Designer</option>
        <option value="ator-dublador">Ator dublador</option>
    </select>
    </div>

</div>

<div class="botao-cadastro">
    <button class="botao-enviar">Cadastre-se</button>
    
</div>
<div class="span-cadastro">
    <span>Já tem uma conta?</span> <a routerLink="/login">Faça Login</a>
</div>


</form>
</div>
</main>
