<main class="main-register">
  <div class="register-conteudo">
    
    <header>
      <h1 class="titulo-register">Indie<span class="hub-texto">[HUB]</span></h1>
      <p class="paragrafo-register">Faça a sua conta e avance na carreira como um <span class="gamedevs-texto">gamedev</span> indepedente.</p>
    </header>

    <form (ngSubmit)="cadastrar()">

      <div class="input-nome-email-senha">
        <!-- NOME -->
        <div class="input-grupo-cadastro">
          <label for="text-input">Nome Completo</label>
          <input id="text-input" 
                 type="text" 
                 placeholder="Seu nome completo"
                 [(ngModel)]="dadosCadastro.nome" 
                 name="nome">
        </div>

        <!-- EMAIL -->
        <div class="input-grupo-cadastro">
          <label for="email-input">Email</label>
          <input id="email-input" 
                 type="email" 
                 placeholder="Digite seu email"
                 [(ngModel)]="dadosCadastro.email" 
                 name="email">
        </div>
        
        <!-- SENHA -->
        <div class="input-grupo-cadastro">
          <label for="password-input-cadastro">Senha</label>
          <input id="password-input-cadastro" 
                 type="password" 
                 placeholder="Crie uma senha"
                 [(ngModel)]="dadosCadastro.senha" 
                 name="senha">
        </div>

        <!-- PROFISSÃO -->
        <div class="input-grupo-cadastro">
          <label for="profissao-select">Profissão</label>
          <select id="profissao-select" 
                  [(ngModel)]="dadosCadastro.profissao" 
                  name="profissao">
             <option value="" disabled selected hidden>Selecione sua área</option>
             <option value="Game Designer">Game Designer</option>
             <option value="Programador">Programador</option>
             <option value="Artista 2D/3D">Artista 2D/3D</option>
             <option value="Músico/SFX">Músico/SFX</option>
             <option value="Roteirista">Roteirista</option>
          </select>
        </div>
      </div>

      <!-- CHECKBOX DE TERMOS -->
      <div class="termos-container">
          <div class="checkbox-wrapper">
              <input type="checkbox" id="termos" [(ngModel)]="termosAceitos" name="termos">
              <label for="termos">
                  Eu li e aceito os <a routerLink="/termos" target="_blank">Termos de Uso</a> e <a routerLink="/termos" target="_blank">Privacidade</a>.
              </label>
          </div>
          
          <p class="erro-termos" *ngIf="mostrarErroTermos && !termosAceitos">
              ⚠️ Você precisa aceitar os termos para continuar.
          </p>
      </div>

      <div class="botao-cadastro">
        <button type="submit" class="botao-enviar">Cadastre-se</button>
      </div>

      <div class="span-cadastro">
        <span>Já tem uma conta?</span> <a routerLink="/login">Faça Login</a>
      </div>

    </form>
  </div>
</main>